In [5]:
import pandas as pd
# pd.set_option('max_columns', 200)
from google.colab import drive 
drive.mount('/content/drive')
import os
os.chdir('/content/drive/MyDrive/Capstone/Scripts/Location_part/')
df = pd.read_pickle('area_features.pkl')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head()

,id,supermarket,BusStop_distance,Station_distance,restaurant,mean_area_accommodates_price,mean_area_beds_price,real_estate
0,65467,3,inf,inf,35,136.350876,130.241379,1663967.3247817142
1,206662,0,0.002837,inf,32,107.387100,183.716812,1490491.188123733
2,67089,1,inf,inf,36,160.285721,120.010201,1663967.3247817142
3,210489,2,inf,inf,20,506.333344,339.000000,2330891.742962242
4,109,1,inf,inf,8,213.000000,239.399994,1043530.198522237

# Explaining Columns



*   supermarket
> Number of supermarkets within a 1 km radius of latitude and longitude


*   BusStop_distance
> The distance to the nearest bus stop within a radius of 500 meters from the entered latitude and longitude.The units of distance are not meters or miles, it is the difference of latitude and longitude obtained from the theorem of three squares,. If no bus stop is found within 500m, it was entered in np.inf.



*   Station_distance
> The distance to the nearest train and metro station within a radius of 500 meters from the entered latitude and longitude.The units of distance are not meters or miles, it is the difference of latitude and longitude obtained from the theorem of three squares,. If no station is found within 500m, it was entered in np.inf.


*   restaurant
> Number of restaurants within a 1 km radius of latitude and longitude



*   mean_area_accommodates_price
> Mean() the price in the Airbnb listing data, which is the same accommodations, in the area plus or minus 0.01 from the input latitude and longitude (0.01 is assumed to be approximately 1 km).


*   mean_area_beds_price
> Mean() the price in the Airbnb listing data, which is the same beds, in the area plus or minus 0.01 from the input latitude and longitude (0.01 is assumed to be approximately 1 km).




*   real_estate
> Average residential retail value calculated by zip code(from [Redfin](https://www.redfin.com/news/data-center/))

# How to obtain information on various facilities

Extracted using API provided by OpenStreetMap(OSM). OSM is a free, open geographic database updated and maintained by a community of volunteers via open collaboration. ã€€

# Limitaion


*   Not sure if this is the latest information
*   Data is extracted based on tags, so we cannot know the popularity or size.
*   Therefore, there is a possibility that there are omissions in the extraction (I actually had an extraction leak and have been redoing the work).